@media screen and (max-width: 768px) {
  /********* Navbar *************/
  .navbar {
    text-align: center;
  }
  /* Services */
  .sv {
    margin-bottom: 2rem;
  }
  .tm {
    margin-bottom: 4rem;
  }
  .tss {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Form */
  .form-container {
    margin-top: 75px;
    margin-bottom: 5px;
  }
  /* Embed */
  .em {
    pading: 1rem 2rem 1rem 4rem;
  }
  .rm {
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
}
